@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Regular.woff2") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Bold.woff") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Bold.woff2") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PostNoBillsJaffna";
  src: url("../fonts/PostNoBillsJaffna-Bold.woff") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PostNoBillsJaffna";
  src: url("../fonts/PostNoBillsJaffna-Bold.woff2") format("truetype");
  font-style: normal;
  font-weight: 700;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  min-height: 100%;
  line-height: 1.25;
  font-size: 12px;
  background: #000;
  color: #fff;
  font-family: PTSans, sans-serif;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1109px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1940px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 1280px) {
  .wrapper {
    padding: 0;
  }
}

.header__container_firstRow {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .header__container_firstRow {
    margin: 0 10px;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .header__container_firstRow {
    flex-direction: column;
    font-size: 10px;
  }
}
.header__container_firstRow .firstRow_left {
  display: flex;
  align-items: center;
  color: #969696;
  height: 100%;
}
@media (max-width: 480px) and (min-width: 320px) {
  .header__container_firstRow .firstRow_left {
    width: 100%;
    justify-content: space-between;
  }
}
.header__container_firstRow .firstRow_left a {
  color: #969696;
  cursor: pointer;
}
@media (max-width: 640px) {
  .header__container_firstRow .firstRow_left a {
    font-size: 10px;
  }
}
.header__container_firstRow .firstRow_left a img {
  margin-right: 16px;
}
@media (max-width: 640px) {
  .header__container_firstRow .firstRow_left a img {
    margin-right: 6px;
  }
}
.header__container_firstRow .firstRow_left span {
  width: 1px;
  height: 12px;
  background-color: #969696;
  margin: 0 15px;
}
@media (max-width: 640px) {
  .header__container_firstRow .firstRow_left span {
    margin: 0 5px;
  }
}
@media (max-width: 640px) {
  .header__container_firstRow .firstRow_left-text {
    font-size: 10px;
  }
}
@media (max-width: 640px) {
  .header__container_firstRow .firstRow_left-time {
    font-size: 10px;
  }
}
.header__container_firstRow .firstRow_right {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__container_firstRow .firstRow_right-btn {
  background: transparent;
  color: #969696;
  cursor: pointer;
}

.burger__menu, .burger__content {
  display: none;
}

.headerDown {
  background-color: #0F0F0F;
  width: 100%;
  z-index: 9999;
}
@media (max-width: 768px) {
  .headerDown {
    position: sticky;
    top: 0;
  }
}
.headerDown__container_secondRow {
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 9999;
}
@media (max-width: 1280px) {
  .headerDown__container_secondRow {
    margin: 0 10px;
  }
}
.headerDown__container_secondRow .secondRow_logos {
  flex: 1 1 auto;
}
.headerDown__container_secondRow .secondRow_navigation {
  display: flex;
  align-items: center;
  height: 100%;
}
@media (max-width: 768px) {
  .headerDown__container_secondRow .secondRow_navigation {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    transition: left 0.3s ease 0s;
  }
}
.headerDown__container_secondRow .secondRow_navigation-links {
  display: flex;
  align-items: center;
  height: 80px;
}
@media (max-width: 768px) {
  .headerDown__container_secondRow .secondRow_navigation-links {
    flex-direction: column;
    width: 100%;
  }
}
.headerDown__container_secondRow .secondRow_navigation-link {
  padding: 0 20px;
  color: #969696;
  font-size: 14px;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.headerDown__container_secondRow .secondRow_navigation-link:hover {
  background-color: #1F1F1F;
}
@media (max-width: 768px) {
  .headerDown__container_secondRow .secondRow_navigation-link {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .headerDown__container_secondRow .secondRow_navigation._active {
    left: 0;
  }
}
.headerDown__container_secondRow .secondRow_search {
  display: flex;
  align-items: center;
  height: 100%;
}
.headerDown__container_secondRow .secondRow_search-links {
  display: flex;
  align-items: center;
  height: 100%;
}
.headerDown__container_secondRow .secondRow_search-link {
  padding: 0 20px;
  color: #969696;
  font-size: 14px;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.headerDown__container_secondRow .secondRow_search-link:last-child {
  margin-right: -20px;
}
@media (max-width: 1280px) {
  .headerDown__container_secondRow .secondRow_search-link:last-child {
    margin-right: 0;
  }
}
.headerDown__container_secondRow .secondRow_search-link:hover {
  background-color: #1F1F1F;
}
@media (max-width: 768px) {
  .headerDown__container_secondRow .burger__content {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    z-index: 105;
  }
  .headerDown__container_secondRow .burger__content .burger__menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    margin-right: 50px;
    cursor: pointer;
    z-index: 110;
  }
}
@media (max-width: 768px) and (max-width: 480px) and (min-width: 320px) {
  .headerDown__container_secondRow .burger__content .burger__menu {
    margin-right: 10px;
  }
}
@media (max-width: 768px) {
  .headerDown__container_secondRow .burger__content .burger__menu span, .headerDown__container_secondRow .burger__content .burger__menu::before, .headerDown__container_secondRow .burger__content .burger__menu::after {
    right: 0px;
    position: absolute;
    height: 15%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
}
@media (max-width: 768px) {
  .headerDown__container_secondRow .burger__content .burger__menu::before, .headerDown__container_secondRow .burger__content .burger__menu::after {
    content: "";
  }
}
@media (max-width: 768px) {
  .headerDown__container_secondRow .burger__content .burger__menu::before {
    top: 0;
  }
}
@media (max-width: 768px) {
  .headerDown__container_secondRow .burger__content .burger__menu::after {
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .headerDown__container_secondRow .burger__content .burger__menu span {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }
}
@media (max-width: 768px) {
  .headerDown__container_secondRow .burger__content .burger__menu._active span {
    transform: scale(0) translateY(-50%);
  }
  .headerDown__container_secondRow .burger__content .burger__menu._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .headerDown__container_secondRow .burger__content .burger__menu._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
}

.main {
  max-width: 1920px;
  height: 810px;
  background-image: url(../img/first-screen.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.main .main__container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .main__container .main__logo {
  margin-top: 160px;
  width: 320px;
  height: 320px;
  border: #fff solid 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) and (min-width: 320px) {
  .main .main__container .main__logo {
    width: 300px;
  }
}
.main .main__container .main__logo-title {
  font-family: PostNoBillsJaffna;
  font-weight: bold;
  font-size: 64px;
  line-height: 1;
}
.main .main__container .main__logo span {
  width: 179px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
}
.main .main__container .main__logo-text {
  margin-top: 6px;
  font-size: 22px;
  text-transform: uppercase;
}
.main .main__container .main__paragraph {
  width: 730px;
  margin-top: 80px;
  margin-bottom: 155px;
}
@media (max-width: 768px) {
  .main .main__container .main__paragraph {
    width: 500px;
    margin-top: 80px;
    margin-bottom: 155px;
  }
}
@media (max-width: 640px) {
  .main .main__container .main__paragraph {
    width: 400px;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .main .main__container .main__paragraph {
    width: 310px;
  }
}
.main .main__container .main__paragraph p {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
}
.season {
  max-width: 1920px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
@media (max-width: 1680px) {
  .season {
    flex-direction: column;
  }
}
.season__left {
  flex: 1 1 54%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 93px 0;
}
@media (max-width: 768px) {
  .season__left {
    padding-bottom: 73px;
  }
}
.season__left-title {
  font-family: PlayfairDisplay;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}
.season__left span {
  width: 120px;
  height: 1px;
  background-color: #fff;
  margin: 50px 0;
}
.season__left-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .season__left-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.season__left-cards .card {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .season__left-cards .card {
    width: 50%;
    margin-bottom: 20px;
  }
}
.season__left-cards .card .card-product {
  width: 260px;
  height: 325px;
  background-color: #191B1C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.season__left-cards .card .card-product .watch {
  transition: all 0.3s ease;
}
.season__left-cards .card .card-product .watch:hover {
  transform: scale(1.1);
}
.season__left-cards .card .card-description {
  width: 260px;
  height: auto;
  padding-top: 25px;
}
.season__left-cards .card .card-description .description-title {
  font-family: PlayfairDisplay;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.season__left-cards .card .card-description .description-text {
  font-family: PlayfairDisplay;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #D0D0D0;
  margin-top: 10px;
}
@media (max-width: 640px) {
  .season__left-cards .season__left-card {
    width: 100%;
  }
}
.season__right {
  flex: 1 1 46%;
  max-height: 730px;
  background-image: url(../img/cart/season_card-right.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 484px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
@media (max-width: 1280px) {
  .season__right {
    padding-top: 384px;
  }
}
@media (max-width: 1024px) {
  .season__right {
    padding-top: 284px;
  }
}
@media (max-width: 640px) {
  .season__right {
    padding-top: 184px;
  }
}
.season__right::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.6);
  z-index: 1;
}
.season__right-title {
  font-family: PlayfairDisplay;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}
.season__right span {
  width: 120px;
  height: 1px;
  background-color: #fff;
  margin: 30px 0;
  z-index: 2;
}
.season__right .button-only {
  border: 1px solid #fff;
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}
.season__right .button-only:hover {
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 10px;
}
.season__right .button-only:active {
  background-color: transparent;
}
.season__right .button-footer {
  border: 1px solid transparent;
  padding: 10px 20px;
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  background-color: #0F0F0F;
  transition: all 0.3s ease;
  cursor: pointer;
}
.season__right .button-footer:hover {
  background-color: #363535;
}
.season__right .button-footer:active {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}
.season__right-btn {
  padding: 12px 28px;
  z-index: 2;
}

.colection {
  display: flex;
  max-width: 1920px;
}
@media (max-width: 1680px) {
  .colection {
    flex-direction: column-reverse;
  }
}
.colection__left {
  flex: 1 1 46%;
  max-height: 730px;
  background-image: url(../img/cart/colection_card-left.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 484px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
@media (max-width: 1280px) {
  .colection__left {
    flex: 1 1 100%;
    padding-top: 384px;
  }
}
@media (max-width: 1024px) {
  .colection__left {
    padding-top: 284px;
  }
}
@media (max-width: 640px) {
  .colection__left {
    padding-top: 184px;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .colection__left {
    display: none;
  }
}
.colection__left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.6);
  z-index: 1;
}
.colection__right {
  flex: 1 1 54%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
@media (max-width: 1680px) {
  .colection__right {
    margin-bottom: 100px;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .colection__right {
    background-image: url(../img/cart/colection_card-left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
    padding-bottom: 50px;
  }
}
.colection__right-title {
  font-family: PlayfairDisplay;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}
.colection__right span {
  width: 120px;
  height: 1px;
  background-color: #fff;
  margin: 30px 0;
}
.colection__right-text {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  width: 471px;
  margin-bottom: 61px;
}
@media (max-width: 480px) and (min-width: 320px) {
  .colection__right-text {
    width: 300px;
  }
}
.colection__right .button-only {
  border: 1px solid #fff;
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}
.colection__right .button-only:hover {
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 10px;
}
.colection__right .button-only:active {
  background-color: transparent;
}
.colection__right .button-footer {
  border: 1px solid transparent;
  padding: 10px 20px;
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  background-color: #0F0F0F;
  transition: all 0.3s ease;
  cursor: pointer;
}
.colection__right .button-footer:hover {
  background-color: #363535;
}
.colection__right .button-footer:active {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}
.colection__right-btn {
  padding: 12px 28px;
  z-index: 2;
}
@media (max-width: 480px) and (min-width: 320px) {
  .colection__right-btn {
    padding: 10px 15px;
  }
}

.newProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0 150px 0;
}
@media (max-width: 480px) and (min-width: 320px) {
  .newProduct {
    padding: 50px 0;
  }
}
.newProduct-title {
  font-family: "PlayfairDisplay";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}
.newProduct span {
  width: 120px;
  height: 1px;
  background-color: #fff;
  margin: 30px 0;
}
.newProduct__box {
  width: 100%;
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 30px 30px;
}
.newProduct__box .card {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .newProduct__box .card {
    width: 50%;
    margin-bottom: 20px;
  }
}
.newProduct__box .card .card-product {
  width: 260px;
  height: 325px;
  background-color: #191B1C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newProduct__box .card .card-product .watch {
  transition: all 0.3s ease;
}
.newProduct__box .card .card-product .watch:hover {
  transform: scale(1.1);
}
.newProduct__box .card .card-description {
  width: 260px;
  height: auto;
  padding-top: 25px;
}
.newProduct__box .card .card-description .description-title {
  font-family: PlayfairDisplay;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.newProduct__box .card .card-description .description-text {
  font-family: PlayfairDisplay;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #D0D0D0;
  margin-top: 10px;
}

.brands {
  background-color: #0F0F0F;
  padding: 60px 0 75px;
}
.brands__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.brands__container-title {
  font-family: "PlayfairDisplay";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}
.brands__container span {
  width: 120px;
  height: 1px;
  background-color: #fff;
  margin: 30px 0;
}
.brands__container_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .brands__container_box {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.brands__container_box-content {
  flex: 1 1 25%;
}
@media (max-width: 1024px) {
  .brands__container_box-content {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 640px) {
  .brands__container_box-content {
    flex: 1 1 100%;
  }
}

.footer {
  max-width: 1920px;
  height: 400px;
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .footer {
    height: auto;
  }
}
.footer__container {
  height: 100%;
}
.footer__container .footer__big {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .footer__container .footer__big {
    display: grid;
    grid-template-areas: "about about" "category mailingList";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .footer__container .footer__big {
    grid-template-areas: "about" "category" "mailingList";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
.footer__container .footer__big_about {
  width: 33.3333%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 19px;
}
@media (max-width: 1024px) {
  .footer__container .footer__big_about {
    grid-area: about;
    width: 100%;
    align-items: center;
    padding: 0 25px;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .footer__container .footer__big_about {
    padding: 0;
    justify-content: center;
  }
}
.footer__container .footer__big_about-title {
  font-family: "PlayfairDisplay";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 40px;
}
.footer__container .footer__big_about-text {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
@media (max-width: 480px) and (min-width: 320px) {
  .footer__container .footer__big_about-text {
    width: 300px;
    font-size: 12px;
  }
}
.footer__container .footer__big_category {
  width: 33.3333%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 12px;
  padding-right: 50px;
}
@media (max-width: 1024px) {
  .footer__container .footer__big_category {
    grid-area: category;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .footer__container .footer__big_category {
    padding-right: 12px;
  }
}
.footer__container .footer__big_category-title {
  font-family: "PlayfairDisplay";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 40px;
}
.footer__container .footer__big_category_box {
  display: grid;
  grid-template-areas: "watch bracers belt" "jewel jewel cufflinks";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.footer__container .footer__big_category_box .button-only {
  border: 1px solid #fff;
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer__container .footer__big_category_box .button-only:hover {
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 10px;
}
.footer__container .footer__big_category_box .button-only:active {
  background-color: transparent;
}
.footer__container .footer__big_category_box .button-footer {
  border: 1px solid transparent;
  padding: 10px 20px;
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  background-color: #0F0F0F;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer__container .footer__big_category_box .button-footer:hover {
  background-color: #363535;
}
.footer__container .footer__big_category_box .button-footer:active {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}
.footer__container .footer__big_category_box .box-watch {
  grid-area: watch;
}
.footer__container .footer__big_category_box .box-bracers {
  grid-area: bracers;
}
.footer__container .footer__big_category_box .box-belt {
  grid-area: belt;
}
.footer__container .footer__big_category_box .box-jewel {
  grid-area: jewel;
}
.footer__container .footer__big_mailingList {
  width: 33.3333%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .footer__container .footer__big_mailingList {
    grid-area: mailingList;
    align-items: center;
    width: 100%;
    padding-right: 25px;
  }
}
@media (max-width: 768px) {
  .footer__container .footer__big_mailingList {
    padding: 0 25px;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .footer__container .footer__big_mailingList {
    padding: 0;
  }
}
.footer__container .footer__big_mailingList-title {
  font-family: "PlayfairDisplay";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 40px;
}
@media (max-width: 480px) and (min-width: 320px) {
  .footer__container .footer__big_mailingList-title {
    margin-top: 40px;
  }
}
.footer__container .footer__big_mailingList-text {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 37px;
}
@media (max-width: 480px) and (min-width: 320px) {
  .footer__container .footer__big_mailingList-text {
    width: 310px;
  }
}
.footer__container .footer__big_mailingList_form {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 70%;
}
@media (max-width: 480px) and (min-width: 320px) {
  .footer__container .footer__big_mailingList_form {
    flex-direction: column;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .footer__container .footer__big_mailingList_form {
    width: 100%;
    justify-content: center;
  }
}
.footer__container .footer__big_mailingList_form .form-area {
  height: 42px;
  width: 210px;
  padding-left: 15px;
  background: rgba(255, 255, 255, 0.4);
}
@media (max-width: 1024px) {
  .footer__container .footer__big_mailingList_form .form-area {
    flex: 1 1 80%;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .footer__container .footer__big_mailingList_form .form-area {
    padding: 10px 15px;
    margin-bottom: 10px;
  }
}
.footer__container .footer__big_mailingList_form .form-area::placeholder {
  color: #c2bfbf;
}
.footer__container .footer__big_mailingList_form .button-only {
  border: 1px solid #fff;
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer__container .footer__big_mailingList_form .button-only:hover {
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 10px;
}
.footer__container .footer__big_mailingList_form .button-only:active {
  background-color: transparent;
}
.footer__container .footer__big_mailingList_form .button-footer {
  border: 1px solid transparent;
  padding: 10px 20px;
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  background-color: #0F0F0F;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer__container .footer__big_mailingList_form .button-footer:hover {
  background-color: #363535;
}
.footer__container .footer__big_mailingList_form .button-footer:active {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}
.footer__container .footer__big_mailingList_form .form-btn {
  flex: 1 1 140px;
}
@media (max-width: 1024px) {
  .footer__container .footer__big_mailingList_form .form-btn {
    flex: 1 1 20%;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .footer__container .footer__big_mailingList_form .form-btn {
    flex: 1 1 80%;
  }
}

.footer__row {
  background-color: #0F0F0F;
  height: 50px;
}
.footer__row__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
@media (max-width: 1280px) {
  .footer__row__container {
    padding: 0 15px;
  }
}
.footer__row-copyright {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
}
.footer__row-about {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
}
.footer__row-about a:visited {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
