$breakpoints: (
    m: 320px,
    ssm: 480px,
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1680px
);

@mixin span {
    width: 120px;
    height: 1px;
    background-color: #fff;
    margin: 30px 0;
}