.brands {
    background-color: #0F0F0F;
    padding: 60px 0 75px;

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;

        &-title {
            font-family: 'PlayfairDisplay';
            font-size: 36px;
            font-weight: 700;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
        }

        span {
            @include span;
        }

        &_box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-content {
                flex: 1 1 25%;
            }
        }
    }
}