.footer {
    max-width: 1920px;
    height: 400px;
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include lgmy {
        height: auto;
    }

    &__container{
        height: 100%;

        .footer__big {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            @include lgmy {
                display: grid;
                grid-template-areas: 
                            "about about"
                            "category mailingList";
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                padding-bottom: 50px;
            }

            @include mdmy {
                grid-template-areas: 
                            "about"
                            "category"
                            "mailingList";
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr;
            }
    
            &_about {
                width: 33.3333%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-right: 19px;

                @include lgmy {
                    grid-area: about;
                    width: 100%;
                    align-items: center;
                    
                    padding: 0 25px;
                }

                @include ssmmy {
                    padding: 0;
                    justify-content: center;
                }

                &-title {
                    font-family: 'PlayfairDisplay';
                    font-size: 24px;
                    line-height: 28px;
                    text-transform: uppercase;
                    margin-top: 80px;
                    margin-bottom: 40px;
                }

                &-text {
                    font-family: 'PTSans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;

                    @include ssmmy {
                        width: 300px;
                        font-size: 12px;
                    }
                }
            }
    
            &_category {
                width: 33.3333%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 12px;
                padding-right: 50px;

                @include lgmy {
                    grid-area: category;
                    align-items: center;
                    width: 100%;
                }

                @include ssmmy {
                    padding-right: 12px;
                }

                &-title {
                    font-family: 'PlayfairDisplay';
                    font-size: 24px;
                    line-height: 28px;
                    text-transform: uppercase;
                    margin-top: 80px;
                    margin-bottom: 40px;
                }

                &_box {
                    display: grid;
                    grid-template-areas: 
                                "watch bracers belt"
                                "jewel jewel cufflinks";
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 20px;

                    @import "btn";

                    .box-watch {
                        grid-area: watch;
                    }

                    .box-bracers {
                        grid-area: bracers;
                    }

                    .box-belt {
                        grid-area: belt;
                    }

                    .box-jewel {
                        grid-area: jewel;
                    }
                }
            }
    
            &_mailingList {
                width: 33.3333%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @include lgmy {
                    grid-area: mailingList;
                    align-items: center;
                    width: 100%;
                    padding-right: 25px;
                }

                @include mdmy {
                    padding: 0 25px;
                }

                @include ssmmy {
                    padding: 0;
                }

                &-title {
                    font-family: 'PlayfairDisplay';
                    font-size: 24px;
                    line-height: 28px;
                    text-transform: uppercase;
                    margin-top: 80px;
                    margin-bottom: 40px;

                    @include ssmmy {
                        margin-top: 40px;
                    }
                }

                &-text {
                    font-family: 'PTSans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    margin-bottom: 37px;

                    @include ssmmy {
                        width: 310px;
                    }
                }

                &_form {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: 70%;

                    @include ssmmy {
                        flex-direction: column;
                    }

                    @include ssmmy {
                        width: 100%;
                        justify-content: center;
                    }

                    .form-area {
                        height: 42px;
                        width: 210px;
                        padding-left: 15px;
                        background: rgba(255, 255, 255, 0.4);

                        @include lgmy {
                            flex: 1 1 80%;
                        }

                        @include ssmmy {
                            padding: 10px 15px;
                            margin-bottom: 10px;
                        }

                        &::placeholder {
                            color: #c2bfbf;
                        }
                    }

                    @import "btn";

                    .form-btn {
                        flex: 1 1 140px;

                        @include lgmy {
                            flex: 1 1 20%;
                        }

                        @include ssmmy {
                            flex: 1 1 80%;
                        }
                    }
                }
            }
        }
    }
}

.footer__row {
    background-color: #0F0F0F;
    height: 50px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include xlmy {
            padding: 0 15px;
        }
    }

    &-copyright {
        font-family: 'PTSans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #D0D0D0;
    }

    &-about {
        font-family: 'PTSans';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        text-decoration-line: underline;

        a {
           &:visited {
               color: #fff;
           } 
        }
    }
}