@import "variables";
@import "breakpoints";

@font-face {
    font-family: "PlayfairDisplay"; 
    src: url("../fonts/PlayfairDisplay-Bold.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
} 
@font-face {
    font-family: "PlayfairDisplay"; 
    src: url("../fonts/PlayfairDisplay-Bold.woff2") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
} 
@font-face {
    font-family: "PlayfairDisplay"; 
    src: url("../fonts/PlayfairDisplay-Regular.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 
@font-face {
    font-family: "PlayfairDisplay"; 
    src: url("../fonts/PlayfairDisplay-Regular.woff2") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 
@font-face {
    font-family: "PTSans"; 
    src: url("../fonts/PTSans-Regular.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 
@font-face {
    font-family: "PTSans"; 
    src: url("../fonts/PTSans-Regular.woff2") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 
@font-face {
    font-family: "PTSans"; 
    src: url("../fonts/PTSans-Bold.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
} 
@font-face {
    font-family: "PTSans"; 
    src: url("../fonts/PTSans-Bold.woff2") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
} 
@font-face {
    font-family: "PostNoBillsJaffna"; 
    src: url("../fonts/PostNoBillsJaffna-Bold.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
} 
@font-face {
    font-family: "PostNoBillsJaffna"; 
    src: url("../fonts/PostNoBillsJaffna-Bold.woff2") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
} 


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    min-height: 100%;
    line-height: 1.25;
    font-size: 12px;
    background: #000;
    color: #fff;
    font-family: PTSans, sans-serif;
    font-weight: 400;
}

body._lock {
    overflow: hidden;
}

[class*="__container"] {
    max-width: 1109px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1940px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 10px;

    @include xlmy {
        padding: 0;
    }
}

.header__container {
    &_firstRow {
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include xlmy {
            margin: 0 10px;
        }

        @include ssmmy {
            flex-direction: column;
            font-size: 10px;
        }

        .firstRow_left {
            display: flex;
            align-items: center;
            color: #969696;
            height: 100%;

            @include ssmmy {
                width: 100%;
                justify-content: space-between;
            }

            a {
                color: #969696;
                cursor: pointer;

                @include smmy {
                    font-size: 10px;
                }

                img {
                    margin-right: 16px;

                    @include smmy {
                        margin-right: 6px;
                    }
                }
            }

            span {
                width: 1px;
                height: 12px;
                background-color: #969696;
                margin: 0 15px;

                @include smmy {
                    margin: 0 5px;
                }
            }

            &-text {
                @include smmy {
                    font-size: 10px;
                }
            }

            &-time {
                @include smmy {
                    font-size: 10px;
                }
            }
        }

        .firstRow_right {
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;

            &-btn {
                background: transparent;
                color: #969696;
                cursor: pointer;
            }
        }
    }
}

.burger__menu, .burger__content {
    display: none;
}

.headerDown {
    background-color: #0F0F0F;
    width: 100%;
    z-index: 9999;

    @include mdmy {
        position: sticky;
        top: 0;
    }

    &__container_secondRow {
        height: 80px;
        display: flex;
        align-items: center;
        z-index: 9999;

        @include xlmy {
            margin: 0 10px;
        }
        
        .secondRow_logos {
            flex: 1 1 auto;
        }

        .secondRow_navigation {
            display: flex;
            align-items: center;
            height: 100%;

            @include mdmy {
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.95);
                transition: left .3s ease 0s;
            }

            &-links {
                display: flex;
                align-items: center;
                height: 80px;

                @include mdmy {
                    flex-direction: column;
                    width: 100%;
                }
            }

            &-link {
                padding: 0 20px;
                color: #969696;
                font-size: 14px;
                text-transform: uppercase;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all .3s ease;

                &:hover {
                    background-color: #1F1F1F;
                }

                @include mdmy {
                    font-size: 25px;
                }  
            }

            &._active {
                @include mdmy {
                    left: 0;
                }   
            }
        }

        .secondRow_search {
            display: flex;
            align-items: center;
            height: 100%;

            &-links {
                display: flex;
                align-items: center;
                height: 100%;
            }

            &-link {
                padding: 0 20px;
                color: #969696;
                font-size: 14px;
                text-transform: uppercase;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all .3s ease;

                &:last-child {
                    margin-right: -20px;

                    @include xlmy {
                        margin-right: 0;
                    }
                }

                &:hover {
                    background-color: #1F1F1F;
                }
            }
        }

        @include mdmy {
            .burger__content {
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                justify-content: flex-end;
                height: 100%;
                z-index: 105;

                .burger__menu {
                    display: block;
                    position: relative;
                    width: 30px;
                    height: 18px;
                    margin-right: 50px;
                    cursor: pointer;
                    z-index: 110;

                    @include ssmmy {
                        margin-right: 10px;
                    }

                    span,
                    &::before,
                    &::after {
                        right: 0px;
                        position: absolute;
                        height: 15%;
                        width: 100%;
                        transition: all .3s ease 0s;
                        background-color: #fff;
                    }

                    &::before,
                    &::after {
                        content: '';
                    }

                    &::before {
                        top: 0;
                    }

                    &::after {
                        bottom: 0;
                    }

                    span {
                        top: 50%;
                        transform: scale(1) translateY(-50%);
                    }

                    &._active {
                        span {
                            transform: scale(0) translateY(-50%);    
                        }
        
                        &::before {
                            top: 50%;
                            transform: rotate(-45deg) translate(0, -50%);
                        }
        
                        &::after {
                            bottom: 50%;
                            transform: rotate(45deg) translate(0, 50%);
                        }
                    }
                }
            }
        }
    }
}

.main {
    max-width: 1920px;
    height: 810px;
    background-image: url(../img/first-screen.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;

    .main__container {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .main__logo {
            margin-top: 160px;
            width: 320px;
            height: 320px;
            border: #fff solid 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include ssmmy {
                width: 300px;
            }

            &-title {
                font-family: PostNoBillsJaffna;
                font-weight: bold;
                font-size: 64px;
                line-height: 1;
            }

            span {
                width: 179px;
                height: 2px;
                background-color: #fff;
                margin: 5px 0;
            }

            &-text {
                margin-top: 6px;
                font-size: 22px;
                text-transform: uppercase;
            }
        }

        .main__paragraph {
            width: 730px;
            margin-top: 80px;
            margin-bottom: 155px;

            @include mdmy {
                width: 500px;
                margin-top: 80px;
                margin-bottom: 155px;
            }

            @include smmy {
                    width: 400px;
            }

            @include ssmmy {
                width: 310px;
            }

            p {
                color: #fff;
                font-size: 16px;
                line-height: 150%;
                text-transform: uppercase;
                text-align: center;

                @include smmy {
                    
                }
            }
        }
    }
}

@import "season";
@import "colection";
@import "product";
@import "brands";
@import "footer";
// @media only screen and (max-width : 1680px) {}
// @media only screen and (max-width : 1366px) {}
// @media only screen and (max-width : 1280px) {}
// @media only screen and (max-width : 1024px) {}
// @media only screen and (max-width : 800px)  {}
// @media only screen and (max-width : 768px)  {}
// @media only screen and (max-width : 600px)  {}
// @media only screen and (max-width : 533px)  {}
// @media only screen and (max-width : 360px)  {}
// @media only screen and (max-width : 320px)  {}